.astronauts-list {
  overflow-y: auto;
  height: 440px;
  padding: 10px;
  border: 1px solid #ccc;
}

.astronaut {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.astronaut-avatar {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.astronaut-avatar img {
  width: 30px;
  height: 30px;
}

.astronauts-amount {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}